{% load static %}
<!DOCTYPE html>
<html>
  <head>
	 <title>Guild Rising</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="format-detection" content="telephone=no">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="author" content="">
    <meta name="keywords" content="">
    <meta name="description" content="">
    <link rel="stylesheet" type="text/css" href="{% static "guild/css/bootstrap.min.css" %}">
    <link rel="stylesheet" type="text/css" href="{% static "guild/asd.css" %}">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@9/swiper-bundle.min.css">
    <link rel="stylesheet" type="text/css" href="{% static "guild/aos/aos.css" %}">
    <link href="{% static "guild/css/date-time-picker-component.min.css" %}" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500;600;700&family=Oswald:wght@300;400;500;600;700&display=swap" rel="stylesheet">
    <!-- script
    ================================================== -->
    <script src="{% static "guild/js/modernizr.js" %}"></script>
  </head>
  <body data-bs-spy="scroll" data-bs-target="#header-nav" tabindex="0">
    <!-- Заголовок -->
    <div id="bodywrap" class="overflow-hidden">
      <header id="header" class="site-header position-absolute">
        <nav id="header-nav" class="navbar navbar-expand-lg p-3 container-fluid position-fixed">
          <div class="container-lg">
            <div class="offcanvas offcanvas-end" tabindex="-1" id="bdNavbar" aria-labelledby="bdNavbarOffcanvasLabel">
              <div class="offcanvas-header px-4 pb-0">
                <button type="button" class="btn-close btn-close-black" data-bs-dismiss="offcanvas" aria-label="Close" data-bs-target="#bdNavbar"></button>
              </div>
              <div class="offcanvas-body">
                <ul id="navbar" class="navbar-nav text-uppercase justify-content-lg-center justify-content-md-end align-items-center flex-grow-1  text-hover">
                  <li class="nav-item me-5">
                    <a class="nav-link light text-uppercase active p-0 fw-bold" href="{% url 'home' %}">Главная</a>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </nav>
      </header>
		    <!-- конец Заголовка -->
			 <!-- Главная страница -->
{% block content %}
      <section id="intro">
        <div class="image-holder position-relative">
          <img src="{% static "guild/images/banner-item2.jpg" %}" alt="banner" class="banner-image">
        </div>
        <div class="container-lg">
          <div class="banner-content position-absolute" data-aos="fade-up" >
            <h1 class="banner-title light text-uppercase fw-bold ">Rising <p> The best guild </p></h1>
            <a href="https://discord.gg/guildrising" class="btn-slide btn-medium btn-light hover-slide-right text-uppercase mt-5">
              <span>Наш Discord</span>
            </a>
          </div>
        </div>
      </section>
		    <!-- конец Главной страницы -->
			 <!-- Список страниц -->
      <section id="our-services" class="jarallax d-flex align-items-center" style="background-image: url(images/bg-image1.jpg); width: 100%; height: 400px; background-repeat: no-repeat;">
        <div class="container mt-5" data-aos="fade-up" data-aos-duration="2000">
          <div class="row">
				 <div class="section-header mb-5 text-uppercase">
              <h2 class="dark left-pattern">Полезные разделы</h2>
             </div>
            <div class="swiper team-swiper">
              <div class="swiper-wrapper">
					{% for item in posts %}
                <div class="swiper-slide">
              			<div class="text-center">
                			<h3 class="text-dark">{{item.title}}</h3>
                			<a href="{{item.get_absolute_url}}" class="btn-slide btn-medium btn-dark hover-slide-right text-uppercase my-5">
                  		<span>Подробнее</span>
                			</a>
						   </div>
                 </div>
					 {% endfor %}					
              </div>
            </div>
          </div>
        </div>
      </section>
		<!-- Конец списка страниц -->
		<!-- Нижняя строка (футер) -->
    <div class="footer-bottom d-flex flex-wrap justify-content-between border-top pt-3">
      <div class="container">
        <div class="row">
          <div class="col-lg-6">
            <p>Наш discord: <strong>
                <a href="https://discord.gg/guildrising">https://discord.gg/guildrising</a>
              </strong>
            </p>
          </div>
          <div class="col-lg-6">
            <ul class="social-links list-unstyled d-flex justify-content-lg-end">
              <li>
                <a href="#">
                  <svg class="youtube text-primary-500" width="25" height="20" aria-hidden="true">
                    <use xlink:href="#youtube"></use>
                  </svg>
                </a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
	 {% endblock %}
	 <!-- Конец нижней строки (футера) -->
    <script src="{% static "guild/js/jquery-1.11.0.min.js" %}"></script>
    <script src="https://cdn.jsdelivr.net/npm/swiper/swiper-bundle.min.js"></script>
    <script type="text/javascript" src="{% static "guild/aos/aos.js" %}"></script>
    <script type="text/javascript" src="{% static "guild/js/bootstrap.bundle.min.js" %}"></script>
    <script type="text/javascript" src="{% static "guild/js/plugins.js" %}"></script>
    <script type="text/javascript" src="{% static "guild/js/script.js" %}"></script>
    <script src="https://code.iconify.design/iconify-icon/1.0.7/iconify-icon.min.js"></script>
  </body>
</html>